name: push-treasurenet-mainnet-artifacts-to-s3

on:
  push:
    branches:
      - feature/3.2.0-mainnet

env:
  gha-role-name: "GitHubAction-AssumeRoleWithAction"
  node-version: "8"
  build-command: "build:mainnet"
  s3-aws-region: "us-west-1"
  BUCKET_NAME: treasurenet-node-binary-us-west-1


permissions:
  id-token: write
  contents: write
  pull-requests: write
  actions: write

jobs:
  print_timestamp:
    uses: treasurenetprotocol/reusable-workflows/.github/workflows/reusable-timestamp.yml@main

  EnvSetup:
    needs: [ print_timestamp ]
    name: Setup Environment
    runs-on: self-hosted
    outputs:
      repo-name: ${{ steps.extract-repo-name.outputs.repo-name }}
      node-version: ${{ steps.set-aws-info.outputs.node-version }}
      build-command: ${{ steps.set-aws-info.outputs.build-command }}
      s3-aws-region: ${{ steps.set-aws-info.outputs.s3-aws-region }}
    steps:
      - name: Extract repo name
        id: extract-repo-name
        run: |
          REPO_NAME="${{ github.repository }}"
          SHORT_NAME=${REPO_NAME##*/}
          echo "repo-name=$SHORT_NAME" >> $GITHUB_OUTPUT
      - name: set-aws-info
        id: set-aws-info
        run: |
          echo "node-version=${{ env.node-version }}" >> $GITHUB_OUTPUT
          echo "build-command=${{ env.build-command }}" >> $GITHUB_OUTPUT
          echo "s3-aws-region=${{ env.s3-aws-region }}" >> $GITHUB_OUTPUT

  build-go-binary:
    needs: [ EnvSetup ]
    runs-on: self-hosted
    name: Build Go Binary
    steps:
      - name: Set date and time
        run: |
          echo "DATE=$(date '+%Y%m%d')"  >> $GITHUB_ENV
          echo "TIME=$(date '+%Y%m%d_%H%M%S')" >> $GITHUB_ENV

      - name: Checkout code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.18'

      - name: Build Go binary
        run: |
          echo "Building Go binary..."
          go env -w GO111MODULE=on
          go mod tidy
          # 清理历史构建
            make clean
            # 编译全部支持的架构 (amd64/arm64)
            make build-multiarch
            make install


      - name: copy build
        run: |
          sudo cp ./build/amd64/treasurenetd /usr/bin

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
            role-to-assume: arn:aws:iam::471112752664:role/GitHubAction-AssumeRoleWithAction
            role-session-name: GitHub_to_AWS_via_FederatedOIDC
            aws-region: ${{ env.s3-aws-region }}


            
      - name: init
        run: |
          chmod +x init_nodes.sh 
          chmod +x init_node_template.sh
          chmod +x node_config.json

          sudo rm -f /data/account.json
          sudo touch /data/account.json

          sudo chmod 666 /data/account.json
          sudo echo "{}" > /data/account.json
          bash init_nodes.sh

      - name: Set nginx file
        run: |
          cd ./nginx_backup/certs
            echo "${{ secrets.CLOUDFLARE_CERTS_KEY }}" >> cloudflare.key
            echo "${{ secrets.CLOUDFLARE_CERTS_PEM }}" >> cloudflare.pem

      - name: cp and mkdir  nginx file
        run: |
          chmod +x create_nginx_file.sh
          bash create_nginx_file.sh

      - name: new_genesis.json
        run: |   
          chmod +x new_genesis.sh

          bash new_genesis.sh  

      - name: init seednode
        run: |
          chmod +x init_seednode.sh
            
          bash init_seednode.sh     

      - name: bash change_app.toml.sh
        run: |
          chmod +x change_app.toml.sh
            
          bash change_app.toml.sh


      - name: bash change_config.toml.sh
        run: |
            chmod +x change_config.toml.sh 
              
            bash change_config.toml.sh 

      - name: TAR node 
        run: |
        
          # 定义需要打包的节点类型和编号
          NODES="genesis-validator rpc bootnode"
          COUNTS="1 2 3 4 5 6"  # 根据实际节点数量调整
          
          # 自动批量打包
          for node_type in $NODES; do
            max=6  # 默认验证节点数量
            if [ "$node_type" = "rpc" ]; then max=2; fi
            if [ "$node_type" = "bootnode" ]; then max=2; fi
            
            for i in $(seq 1 $max); do
              tar -zcvf ./${node_type}-${i}.tar.gz -C /data/${node_type}-${i} .

            done
          done

            

      - name: Upload Archive file to AWS S3
        run: |
         
            aws s3 cp ./build/arm64/treasurenetd s3://${{ env.BUCKET_NAME }}/${{ needs.EnvSetup.outputs.repo-name }}/${{ env.DATE }}/${{ needs.EnvSetup.outputs.repo-name }}
            aws s3 cp ./genesis-validator-1.tar.gz s3://${{ env.BUCKET_NAME }}/${{ needs.EnvSetup.outputs.repo-name }}/${{ env.DATE }}/node/
            aws s3 cp ./genesis-validator-2.tar.gz s3://${{ env.BUCKET_NAME }}/${{ needs.EnvSetup.outputs.repo-name }}/${{ env.DATE }}/node/
            aws s3 cp ./genesis-validator-3.tar.gz s3://${{ env.BUCKET_NAME }}/${{ needs.EnvSetup.outputs.repo-name }}/${{ env.DATE }}/node/
            aws s3 cp ./genesis-validator-4.tar.gz s3://${{ env.BUCKET_NAME }}/${{ needs.EnvSetup.outputs.repo-name }}/${{ env.DATE }}/node/
            aws s3 cp ./genesis-validator-5.tar.gz s3://${{ env.BUCKET_NAME }}/${{ needs.EnvSetup.outputs.repo-name }}/${{ env.DATE }}/node/
            aws s3 cp ./genesis-validator-6.tar.gz s3://${{ env.BUCKET_NAME }}/${{ needs.EnvSetup.outputs.repo-name }}/${{ env.DATE }}/node/
            aws s3 cp ./rpc-1.tar.gz s3://${{ env.BUCKET_NAME }}/${{ needs.EnvSetup.outputs.repo-name }}/${{ env.DATE }}/node/
            aws s3 cp ./rpc-2.tar.gz s3://${{ env.BUCKET_NAME }}/${{ needs.EnvSetup.outputs.repo-name }}/${{ env.DATE }}/node/
            aws s3 cp ./bootnode-1.tar.gz s3://${{ env.BUCKET_NAME }}/${{ needs.EnvSetup.outputs.repo-name }}/${{ env.DATE }}/node/
            aws s3 cp ./bootnode-2.tar.gz s3://${{ env.BUCKET_NAME }}/${{ needs.EnvSetup.outputs.repo-name }}/${{ env.DATE }}/node/
            